.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form label {
    font-size: 2rem;
    font-weight: 600;
}

#tipo_grafico {
    color: var(--corTexto);
    background-color: var(--corBotaoKPI);
    border: none;
    border-radius: 0.3rem;
    padding: 0.4rem;
    cursor: pointer;
}

.form button {
    color: var(--corTexto);
    background-color: var(--corBotaoKPI);
    border: none;
    border-radius: 0.4rem;
    padding: 0.4rem;
    margin-top: 1rem;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 1rem;
    transition: all ease-in-out 0.2s;
}

.form button:hover {
    background-color: #A47C3E;
}

.graficos {
    width: 80%;
    margin: auto;
}

.kpis {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--corFundoKPI);
    border-radius: 0.8rem;
}

.indicador {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.indicador h3 {
    font-weight: 400;
    text-align: center;
}

.indicador p.indice {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}

.tamanho {
    width: 40%;
    margin: auto;
}