header {
    position: sticky;
    top: 0;
    background-color: var(--corFundoBody);
    display: flex;
    align-items: center;
    height: 12vh;
    

    nav {
        display: flex;
        align-items: center;
        gap: 3rem;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.logo {
    width: 4rem;
    height: 100%;
    object-fit: cover;
}

a {
    color: var(--corTexto);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

a:hover {
    color: var(--corBotaoForm);
}

.botao {
    background-color: var(--corTexto);
    color: var(--corFundoBody);
    padding: 0.75rem 2.5rem;
    font-family: "Tagesschrift";
    border-radius: 0.2rem;
}

.menu .hamburguer {
    width: 2rem;
    height: 2rem;
    z-index: 1;

    span {
        display: block;
        width: 2rem;
        height: 0.3rem;
        margin-bottom: 0;
        background-color: var(--corTexto);
        border-radius: 0.2rem;
        transition: all 0.2s ease-in-out;
    }
}

.menu .check_hamburguer {
    position: absolute;
    z-index: 2;
    width: 2rem;
    height: 2rem;
    opacity: 0;
    cursor: pointer;
}

.menu .check_hamburguer:checked ~ .hamburguer span:nth-child(1) {
    transform-origin: 0% 0%;
    transform: rotate(45deg) scaleX(1.35);
}

.menu .check_hamburguer:checked ~ .hamburguer span:nth-child(2) {
    opacity: 0;
}

.menu .check_hamburguer:checked ~ .hamburguer span:nth-child(3) {
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scaleX(1.35);
}

.menu ul {
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 20%;
    height: 100vh;
    padding-top: 6.25rem;
    background-color: var(--corTextoForm2);
    margin-left: -20%;
    transition: all 0.2s ease-in-out;
}

.menu .check_hamburguer:checked ~ ul {
    margin-left: 0;
}

.menu ul li {
    padding: 1rem 3rem;
}

.menu ul li a {
    font-size: 1.2rem;
}

.secao_logo {
    margin-left: -3%;
}

.header__shape {
    height: 100%;
    width: 100%;
    background-color: var(--headerBackgroundColor);
    background-image: var(--headerBackgroundPattern);
    -webkit-mask-size: var(--headerEdgeWidth) var(--headerEdgeHeight);
    -webkit-mask-size: var(--headerEdgeWidth) var(--headerEdgeHeight);
    mask-size: var(--headerEdgeWidth) var(--headerEdgeHeight);
    background-repeat: repeat;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-mask-image: url(header-mask-2560w.svg);
    mask-image: url(header-mask-2560w.svg);
    -webkit-mask-position: bottom;
    mask-position: bottom;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}