header {
    position: sticky;
    top: 0;
    background-color: var(--corFundo);
    display: flex;
    align-items: center;
    height: 13.3vh;
    z-index: 1002;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
}

#header_logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 4rem;
    height: 100%;
    object-fit: cover;
}

.menu-toggle {
    display: none;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
    padding: 10px;
    margin-right: 1rem; 
    z-index: 1001;
}

.menu-icon span {
    width: 100%;
    height: 4px;
    background-color: var(--corTexto);
    margin: 4px 0;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    max-width: 300px;
    height: 100vh;
    background-color: var(--corFundo);
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    z-index: 1000;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-toggle:checked ~ .menu {
    transform: translateX(0);
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.menu ul li {
    margin: 20px 0;
    text-align: center;
}

.menu ul li a {
    font-family: "Tagesschrift", sans-serif;
    font-size: 1.5rem;
    color: var(--corTexto);
    text-decoration: none;
    text-align: center;
    transition: color 0.2s ease-in-out;
}

.menu ul li a:hover {
    color: var(--corBotaoForm);
}

.menu-toggle:checked ~ .menu {
    right: 0;
}

.menu-toggle:checked + .menu-icon span:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 8px;
}

.menu-toggle:checked + .menu-icon span:nth-child(2) {
    opacity: 0;
}

.menu-toggle:checked + .menu-icon span:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -11px;
}

.menu ul li .botao {
    background-color: var(--corTexto);
    color: var(--corFundoBody);
    padding: 0.75rem 2.5rem;
    font-family: "Tagesschrift", sans-serif;
    border-radius: 0.2rem;
    display: inline-block;
    font-size: 1.2rem;
    margin-top: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu ul li .botao:hover {
    background-color: var(--corBotaoForm);
    color: white;
}

a {
    color: var(--corTexto);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

a:hover {
    color: var(--corBotaoForm);
}

.botao {
    background-color: var(--corTexto);
    color: black;
    padding: 0.75rem 2.5rem;
    font-family: "Tagesschrift";
    border-radius: 0.2rem;
}

.secao_logo {
    margin-left: -3%;
}

.header__shape {
    height: 100%;
    width: 100%;
    background-color: var(--headerBackgroundColor);
    background-image: var(--headerBackgroundPattern);
    -webkit-mask-size: var(--headerEdgeWidth) var(--headerEdgeHeight);
    mask-size: var(--headerEdgeWidth) var(--headerEdgeHeight);
    background-repeat: repeat;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-mask-image: url(header-mask-2560w.svg);
    mask-image: url(header-mask-2560w.svg);
    -webkit-mask-position: bottom;
    mask-position: bottom;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

html {
    scroll-padding-top: 12vh; 
}