canvas {
  max-width: 100vh;
  min-width: 50vh;
  margin: 2rem auto;
  display: block; 
}

h2 {
  text-align: center;
}

.container-graficos {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.tituloGrafico {
  font-family: "Tagesschrift";
  font-size: 2rem;
  text-align: center;
}

#graficoBeneficios {
  color: white;
}

.section_pagina_graficos {
  scroll-margin-top: 4rem;
  min-height: 90vh;
  background-color: var(--corFundoBody);
  color: var(--corTexto);
  padding-top: 4rem;
}